/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --page-bg-image: url('../images/cover-image-dark.png');
  --page-bg-color: rgba(0, 0, 40, 1);
  --main-title-color: rgba(219, 0, 255, 1);
  --accent-color: rgba(255, 0, 112, 1);
  --main-text-color: rgba(241, 178, 206, 1);
  --hover-current-color: rgba(255, 0, 112, 0.4);
  --theme-button-color: rgba(255, 0, 112, 1);
  --sub-title-color: rgba(0, 0, 40, 1);
  --section-title-color: rgba(255, 0, 112, 1);
  
  --rec-display: block;
}
