/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --page-bg-image: url('../images/cover-image-light.png');
  --page-bg-color: rgba(255, 241, 247, 1);
  --main-title-color: rgba(255, 194, 230, 1);
  --sub-title-color: rgba(53, 52, 48, 1);
  --section-title-color: rgba(53, 52, 48, 1);
  --accent-color: rgba(255, 141, 203, 1);
  --accent-hover-color: rgba(50, 49, 45, 0.4);
  --text-color: rgba(53, 52, 48, 1);
  --button-color: rgba(53, 52, 48, 1);
  --rec-display: none;
}

@media (prefers-color-scheme: light) {

  :root {
  --page-bg-image: url('../images/cover-image-light.png');
  --page-bg-color: rgba(255, 241, 247, 1);
  --main-title-color: rgba(255, 194, 230, 1);
  --sub-title-color: rgba(53, 52, 48, 1);
  --section-title-color: rgba(53, 52, 48, 1);
  --accent-color: rgba(255, 141, 203, 1);
  --accent-hover-color: rgba(50, 49, 45, 0.4);
  --text-color: rgba(53, 52, 48, 1);
  --button-color: rgba(53, 52, 48, 1);
  --rec-display: none;
  }
} 
