/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  font-family: var(--font-family, "IBM Plex mono", sans-serif);
  font-weight: var(--normal-font-weight, 400);
  font-size: var(--main-font-size, 18px);
  background-color: var(--page-bg-color, #000028);
  background-image: var(--page-bg-image);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

/* ШАПКА */
.header {
  position: relative;
  /*для того чтобы спозиционировать REC и уголок*/
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr min-content 1fr;
  padding-inline: var(--padding-M, 20px);
  padding-block: var(--padding-M, 20px);
  block-size: var(--full-viewport-height, 100vh);
  min-block-size: 768px;
}

/*REC*/
.header__decorative-text {
  position: absolute;
  top: var(--decoration-cordinate-M, 20px);
  right: calc(var(--decoration-cordinate-M, 20px) + var(--dot-decorative-size, 9px));
  z-index: 9999;
  display: var(--rec-display, block);
  color: var(--accent-color, #ff0070);
  font-size: var(--main-font-size, 18px);
  line-height: 25px;
  text-align: center;
  text-transform: uppercase;
}

/*точка после REC*/
.header__decorative-text::after {
  content: "";
  z-index: 9999;
  display: inline-block;
  width: var(--dot-decorative-size, 9px);
  height: var(--dot-decorative-size, 9px);
  margin-inline-start: 10px;
  border-radius: 100%;
  vertical-align: 0.1em; /*чтобы точка стала по центру REC*/
  box-shadow: 0 0 4px 2px var(--accent-color, #ff0070);
  background-color: var(--accent-color, #ff0070);
}

/* УГОЛКИ для header и footer */
.decorated-zone {
  position: relative;
}

/*общие стили для уголков*/
.decorated-zone::before,
.decorated-zone::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
}

/* правый верхний уголок */
.decorated-zone::before {
  top: var(--decoration-cordinate-M, 20px);
  right: var(--decoration-cordinate-M, 20px);
  border-inline-end: 1px solid var(--theme-button-color, rgba(255, 0, 112));
  border-block-start: 1px solid var(--theme-button-color, rgba(255, 0, 112));
}

/* левый нижний уголок */
.decorated-zone::after {
  bottom: var(--decoration-cordinate-M, 20px);
  left: var(--decoration-cordinate-M, 20px);
  border-inline-start: 1px solid var(--theme-button-color, rgba(255, 0, 112));
  border-block-end: 1px solid var(--theme-button-color, rgba(255, 0, 112));
}

.header__theme-menu {
  justify-self: center;
  align-self: start;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: row;
  gap: var(--small-gap, 10px);
}

.header__theme-menu-item {
  line-height: 100%;
}

.header__theme-menu-button {
  border: none;
  padding: 0 13px;
  color: var(--theme-button-color, rgba(255, 0, 112));
  text-transform: lowercase;
  background-color: transparent;
  inline-size: 70px;
  /*min-inline-size увеличивает кнопку*/
  min-block-size: 26px;
}

.header__theme-menu-button_active {
  border: 1px solid currentColor;
  pointer-events: none;
}

.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid currentColor;
  outline: none;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--hover-current-color, rgba(255, 0, 112, 0.4));
  /*не border чтобы не влиял на границы*/
}

.header__title {
  justify-self: start;
  align-self: center;
  margin-inline-start: -20px; /*чтобы подогнать под макет*/
  color: var(--main-title-color, rgba(219, 0, 255, 1));
  /*чтобы шрифт адаптировался */
  font-weight: var(--bold-font-weight, 700);
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  line-height: var(--title-line-height, 83%);
  text-shadow: 4px 4px 0 var(--accent-color, rgba(255, 0, 112, 1));
}

.header__subtitle {
  justify-self: end;
  align-self: center;
  width: 49.9%;
  /*хорошо выглядит на десктопе, плохо на планшете. если 50% то ширина 492px, а нужно 491px */
  font-weight: var(--bold-font-weight, 700);
  font-size: var(--main-font-size, 18px);
  line-height: var(--text-line-height, 130%);
}

.title-decor {
  color: var(--sub-title-color, rgba(0, 0, 40, 1));
  background-color: var(--accent-color, rgba(255, 0, 112, 1));
}

/*ОСНОВНОЙ КОНТЕНТ*/
.content {
  display: grid;
  gap: var(--xx-large-gap, 80px);
  padding-inline: var(--padding-M, 20px);
  padding-block: var(--padding-L, 60px);
  background-color: var(--page-bg-color, rgba(0, 0, 40, 1));
}

.content__section {
  color: var(--main-text-color, rgba(241, 178, 206, 1));
  line-height: var(--text-line-height, 130%);
}

.content__section-title {
  padding-block-end: var(--padding-M, 20px);
  color: var(--section-title-color, rgba(255, 0, 112, 1));
  font-weight: var(--bold-font-weight, 700);
  font-size: var(--main-font-size, 18px);
  line-height: var(--text-line-height, 130%);
  /* чтобы на маленьком экране сохранился отступ */
}

.cards-list {
  display: flex;
  flex-direction: column;
  gap: var(--medium-gap, 20px);
}

/*ПЕРВАЯ СЕКЦИЯ и Третья*/
.content__section.section-primary {
  display: grid;
  grid-template-columns: 32% 1fr;
  gap: var(--medium-gap, 20px);
}

.section-primary .content__section-title {
  grid-column: 1;
}

.section-primary .cards-list {
  grid-column: 2 / -1;
}

/*ВТОРАЯ СЕКЦИЯ*/
.content__section.section-secondary {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.section-secondary .content__section-title {
  grid-column: 1;
}

.section-secondary .cards-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column: 1 / -1;
  gap: var(--medium-gap, 20px);
}

/*ТРЕТЬЯ СЕКЦИЯ*/
.card__subtitle-margin-bottom {
  margin-block-end: 19px;
}

.card {
  display: flex;
  flex-direction: column;
  gap: var(--small-gap, 10px);
}

.card__subtitle {
  font-weight: var(--bold-font-weight, 700);
  font-size: var(--main-font-size, 18px);
  line-height: var(--text-line-height, 130%);
}

.subtitle-decor {
  font-weight: var(--normal-font-weight, 400);
}

.card-link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color, rgba(255, 0, 112, 1));
}

.card-link:hover {
  border-bottom: 1px solid currentColor;
}

.card-link:focus-visible {
  outline: 1px solid currentColor;
  /*если задаю border - странно отображается*/
}

/*ЧЕТВЕРТАЯ СЕКЦИЯ КАРТИНКИ*/
.section-images {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--medium-gap, 20px);
}
.images-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, min-content);
  grid-auto-flow: dense;
  gap: var(--medium-gap, 20px);
}

.images-list-item {
  object-fit: cover;
  inline-size: 100%;
  block-size: 100%;
  max-block-size: 100%;
}

.images-list-item:nth-child(1) {
  grid-column: 1 / 3;
  grid-row: 1;
}

.images-list-item:nth-child(2) {
  grid-column: 3;
  grid-row: 1 / 3;
}

.images-list-item:nth-child(3) {
  grid-column: 1;
  grid-row: 2 / 4;
}

.images-list-item:nth-child(4) {
  grid-column: 2;
  grid-row: 2;
}

.images-list-item:nth-child(5) {
  grid-column: 2 / 4;
  grid-row: 3;
}

.footer {
  position: relative;
  display: grid;
  justify-content: center;
  align-content: center;
  padding-inline: var(--padding-M, 20px);
  /* для декор уголка */
  padding-block: var(--padding-M, 20px);
  background-color: var(--page-bg-color, rgba(0, 0, 40, 1));
  block-size: var(--full-viewport-height, 100vh);
  min-block-size: 768px;
}

.footer__title {
  color: var(--main-title-color, rgba(219, 0, 255, 1));
  /*чтобы шрифт адаптировался */
  font-weight: var(--bold-font-weight, 700);
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  line-height: var(--title-line-height, 83%);
  text-shadow: 2px 2px 0 var(--accent-color, rgba(255, 0, 112, 1));
}

/*стили для планшетов 768*1024*/

@media (max-width: 768px) {
  .header {
    min-block-size: 1024px;
  }

  .header__theme-menu {
    justify-self: end;
    align-self: center;
  }

  .header__theme-menu-list {
    flex-direction: column;
  }

  .header__title {
    font-size: clamp(7.25rem, 6.7836rem + 1.4925vw, 7.5rem);
  }

  .header__subtitle {
    width: 50%;
  }

  .content__section.section-primary {
    grid-template-columns: 236px 1fr;
    /*меняю 1ую колонку с 32% на 236px иначе все ломается на десктопе*/
  }

  .section-secondary .content__section-title {
    max-inline-size: 236px; /*чтобы как в макете*/
  }

  .section-secondary .cards-list {
    grid-template-columns: 1fr;
  }

  .footer {
    min-block-size: 1024px;
  }
}

/*Стили для мобильных 375*668 и меньше*/

@media (max-width: 500px) {
  .header {
    padding-inline: var(--padding-S, 10px);
    padding-block: var(--padding-S, 10px);
    min-block-size: 668px;
  }

  /*REC*/
  .header__decorative-text {
    top: var(--decoration-cordinate, 10px);
    right: calc(
      var(--decoration-cordinate, 10px) + var(--dot-decorative-size, 9px)
    );
  }

  /* правый верхний уголок */
  .decorated-zone::before {
    top: var(--decoration-cordinate, 10px);
    right: var(--decoration-cordinate, 10px);
  }

  /* левый нижний уголок */
  .decorated-zone::after {
    bottom: var(--decoration-cordinate, 10px);
    left: var(--decoration-cordinate, 10px);
  }

  .header__title {
    margin-inline-start: 0;
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }

  .header__subtitle {
    width: 100%;
  }

  .content {
    gap: var(--x-large-gap, 50px);
    padding-inline: var(--padding-S, 10px);
    padding-block: var(--padding-ML, 40px);
  }

  .content__section.section-primary {
    grid-template-columns: 1fr;
    gap: 0;
  }

  .section-primary .cards-list {
    grid-column: 1;
  }

  .content__section.section-secondary {
    grid-template-columns: 1fr;
  }

  .section-secondary .content__section-title {
    max-inline-size: 100%;
  }

  .section-images {
    gap: var(--small-gap, 10px);
  }

  .images-list {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: var(--small-gap, 10px);
  }

  /*более специфичный селектор, чтобы не перечислять все :nth-child*/
  .images-list .images-list-item {
    grid-column: 1;
    grid-row: auto;
  }

  .footer {
    padding-inline: var(--padding-S, 10px);
    padding-block: var(--padding-S, 10px);
    min-block-size: 668px;
  }

  .footer__title {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }
}
