/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  background-image: var(--page-bg-image);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-color: var(--page-bg-color, #495382);
  font-family: var(--font-family, 'IBM Plex mono', sans-serif);
  font-size: var(--main-font-size, 18px); 
  font-weight: normal;
}

.header {
  block-size: 100vh;
  min-block-size: 768px; /*или 668px???*/
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  grid-template-columns: 1fr;
  position: relative;
  /*для того чтобы спозиционировать REC и уголок*/
  padding-block: 20px;
  padding-inline: 20px;
}

/*REC*/
.header__decorative-text {
  position: absolute;
  top: 20px;
  right: 29px;
  color: var(--accent-color, #ff0070);
  font-size: var(--main-font-size, 18px);
  line-height: 25px; /*139% 0.72*/
  text-align: center;
  text-transform: uppercase;
  z-index: 9999;
}

/*точка после REC*/
.header__decorative-text::after {
  content: '';
  display: inline-block; /*чтобы задать размеры*/
  width: 9px;
  height: 9px;
  border-radius: 100%;
  background-color: var(--accent-color, #ff0070);
  box-shadow: 0 0 4px 2px var(--accent-color, #ff0070);
  margin-inline-start: 10px;
  vertical-align: 0.1em; /*чтобы точка стала по центру REC*/
  z-index: 9999;
}

/* УГОЛКИ для header и footer */
.decorated-zone {
  position: relative;
}

/*общие стили для уголков*/
.decorated-zone::before,
.decorated-zone::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
}

/* правый верхний уголок */
.decorated-zone::before {
  top: 20px;
  right: 20px;
  border-top: 1px solid var(--accent-color, #ff0070);
  border-right: 1px solid var(--accent-color, #ff0070);
}

/* левый нижний уголок */
.decorated-zone::after {
  bottom: 20px;
  left: 20px;
  border-bottom: 1px solid var(--accent-color, #ff0070);
  border-left: 1px solid var(--accent-color, #ff0070);
}

.header__theme-menu {
  justify-self: center;
  align-self: start;
}

.header__theme-menu-list{
  display: flex;
  flex-direction: row; /*!!!!поменяется в др разрешениях column*/
  gap: 10px;
}

.header__theme-menu-item {
  line-height: 100%;
  color: var(--accent-color, #ff0070);
  text-transform: lowercase;
}

.header__theme-menu-button {
  all: unset;
  /*Почему то есть тень у кнопок, проверить outline!!! box-shadow: none не работает*/
  background-color: transparent;
  padding: 0 13px;
}

.header__title {
  justify-self: start;
  align-self: center;
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem); 
  /*чтобы шрифт адаптировался */
  font-weight: bold;
  line-height: 83%; /*82.5%*/
  color: var(--title-color, #db00ff);
  text-shadow: 4px 4px 0 var(--accent-color, #ff0070);
  margin-inline-start: -20px; /*чтобы подогнать под макет*/
}

.header__subtitle {
  justify-self: end;
  align-self: center;
  width: 50%;
  font-weight: bold;
  line-height: 130%;
  font-size: var(--main-font-size, 18px);
}

.title-decor {
  background-color: var(--accent-color, #ff0070);
  color: var(--subtitle-color, #000028);
}





/*
.footer {
  position: relative; для декор уголка
  padding-block: 20px;
} 

