/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --page-bg-image: url('../images/cover-image.png');
  
  --font-family: 'IBM Plex mono', sans-serif;
  --main-font-size: 18px;
  --normal-font-weight: normal;
  --bold-font-weight: bold;
  --title-line-height: 82.5%;
  --text-line-height: 130%;

  --page-bg-color: #495382;
  --accent-color: #ff0070;
  --title-color: #db00ff;
  
  --common-dark-color : #000028;
  --main-text-color: #F1B2CE;
  
  --padding-M: 20px;
  --padding-L: 60px;
  
}