/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --page-bg-image: url('../images/cover-image-dark.png');
  --font-family-main: 'IBM Plex mono', sans-serif;
  --font-size-s: 18px;
  --font-size-m: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --font-size-l: clamp(7.25rem, 6.7836rem + 1.4925vw, 7.5rem);
  --font-size-xl: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  --font-weight-light: normal;
  --font-weight-bold: bold;
  --line-height-s: 82.5%;
  --line-height-m: 130%;
  
  --spacing-s: 10px;
  --spacing-m: 20px;
  --spacing-l: 40px;
  --spacing-xl: 60px;
  
  --grid-gap-s: 10px;
  --grid-gap-m: 20px;
  --grid-gap-l: 40px;
  --grid-gap-xl: 50px;
  --grid-gap-xxl: 80px;

  --page-bg-color: rgba(0, 0, 40, 1);
  --main-title-color: rgba(219, 0, 255, 1);
  --sub-title-color: rgba(0, 0, 40, 1);
  --section-title-color: rgba(255, 0, 112, 1);
  --accent-color: rgba(255, 0, 112, 1);
  --accent-hover-color: rgba(255, 0, 112, 0.4);
  --text-color: rgba(241, 178, 206, 1);
  --button-color: rgba(255, 0, 112, 1);
  
  --rec-display: block;
}